:root{
    --primary : #4CAFEB;
    --hover-color: #3a8fd0; /* Darker bluish color for hover */
    --text-color: #ffffff; /* Text color inside buttons */
    --outline-color: #ffffff; /* Color for outline buttons */
}

.btn{
    padding : 8px 20px;
    border-radius : 5px;
    outline : none;
    border: none; 
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn--primary{
    background-color: var(--primary);
    color: var(--text-color);;
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background-color: var(--primary);
    color: var(--text-color);
    transition: all 0.3s ease-out;
}

.btn--outline:hover {
    border-color: var(--hover-color); 
}