
@font-face {
    font-family: 'Costa Std';
    src: url('../assets/fonts/fonnts.com-Costa_Std.otf') format('opentype'); /* Assurez-vous que le chemin est correct */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applique la police dans le navbar */
  .navbar, .nav-links {
    font-family: 'Costa Std', sans-serif; /* Utiliser la police Costa Std */
  }
/* Navbar Styles */
/* Navbar Styles */
.navbar {
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    z-index: 10;
    font-family: 'Costa Std', sans-serif;
    background: #D63A32;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* background: linear-gradient(to right, #f5ebe3 65%, #d62d2a 35%); */
}

/* Right background section for the red color */
.navbar-right-bg {
    background-color: #ff4c4c;
    width: 40%; /* Adjust to match the right-section width in App.js */
    height: 100%; /* Full navbar height */
    position: absolute;
    top: 0;
    right: 0; /* Align to the right */
    z-index: -1; /* Place it behind other navbar content */
}

  
  /* Ajustement de la largeur du menu */
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    justify-content: flex-start;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-links {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    white-space: nowrap;
  }
  
  /* Effet de survol */
  .nav-links:hover {
    color: #1E1E4C;
    transition: color 0.3s ease-in-out;
  }
  
  /* Navbar icons styling */
  .navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar-icons .icon {
    margin-right: 15px;
    width: 2rem ;
    height: 2rem;
  }
  
  .navbar-icons i {
    color: #2e205f;
    font-size: 1.5rem;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-icons i:hover {
    color: #ff4c4c;
  }

  /* Navbar logo styling */
.navbar-logo a {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .logo-image {
    height: auto;
    min-width: 120px;
  }

  .hamburger {
    display: none;
  }

/* Mobile Menu Toggle Icon */
.icon-menu {
    display: none;
    cursor: pointer;
  }
  
  /* Mobile Menu Styling */
  .mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #f5ebe3;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 10;
  }
  
  .mobile-menu a {
    color: #2b1a46;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .mobile-menu a:last-child {
    border-bottom: none;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .navbar {
        background: #f5ebe3;
    }     
    .nav-menu {
        display: none; 
    }
    
    .hamburger {
        display: block; /* Initially hidden, only shown in mobile view */
        font-size: 2rem; /* Increase the size of the hamburger icon */
        cursor: pointer;
        margin-left: 20px; /* Add some space between the hamburger icon and the logo */
      }
    
      .mobile-menu {
        display: flex; /* Show mobile dropdown menu when open */
        right: 100px;
      } 
  }