
@font-face {
    font-family: 'Costa Std';
    src: url('../assets/fonts/fonnts.com-Costa_Std.otf') format('opentype'); /* Assurez-vous que le chemin est correct */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applique la police dans le navbar */
  .navbar, .nav-links {
    font-family: 'Costa Std', sans-serif; /* Utiliser la police Costa Std */
  }
/* Navbar Styles */
/* Navbar Styles */
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    font-family: 'Costa Std', sans-serif;
}

/* Right background section for the red color */
.navbar-right-bg {
    background-color: #ff4c4c;
    width: 40%; /* Adjust to match the right-section width in App.js */
    height: 100%; /* Full navbar height */
    position: absolute;
    top: 0;
    right: 0; /* Align to the right */
    z-index: -1; /* Place it behind other navbar content */
}

  
  /* Ajustement de la largeur du menu */
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    justify-content: flex-start;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-links {
    color: #2e205f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    white-space: nowrap;
  }
  
  /* Effet de survol */
  .nav-links:hover {
    color: #ff4c4c;
    transition: color 0.3s ease-in-out;
  }
  
  /* Navbar icons styling */
  .navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar-icons .icon {
    margin-left: 15px;
    width: 24px;
    height: 24px;
  }
  
  .navbar-icons i {
    color: #2e205f;
    font-size: 1.5rem;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-icons i:hover {
    color: #ff4c4c;
  }

  /* Navbar logo styling */
.navbar-logo a {
    color: #222153;
    font-size: 2.5rem; /* Augmente la taille de la police, tu peux ajuster selon tes préférences */
    font-weight: bold;
    text-decoration: none;
  }