@tailwind base;
@tailwind components;
@tailwind utilities;

/* Déclaration de la police Costa Std */
@font-face {
  font-family: 'Costa Std';
  src: url('./assets/fonts/fonnts.com-Costa_Std.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Applique la police dans toute l'application */
body, .app-container {
  font-family: 'Costa Std', sans-serif;
  background: linear-gradient(to right, #f5ebe3 65%, #d62d2a 35%);
}

/* Navbar Styles */
.navbar, .nav-links {
  font-family: 'Costa Std', sans-serif;
}

/* Container for the whole app */
.app-container {
  height: 100vh;
}

/* Content wrapper to split left and right sections */
.content-container {
  display: flex;
  background: linear-gradient(to right, #f5ebe3 65%, #d62d2a 35%);
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.content-container- {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container h1 {
  font-size: 3rem;
  color: #222153;
  font-family: 'Costa Std', sans-serif;
}

.content-container p {
  color: #222153;
  font-size: 1.25rem;
  margin-top: 20px;
  font-family: 'Costa Std', sans-serif;
}


/* Middle Image Styling */
.middle-image {
  position: absolute;
  top: 50%;
  left: calc(60% - 100px);
  transform: translateY(-50%);
}

.middle-image img {
  max-width: 200px;
  height: auto;
  z-index: 5;
}

box-cards-container {
  text-align: center;
  padding: 20px;
  background-color: #f5ebe3; /* Matches the creamy background color */
}

.box-cards-container h2 {
  color: #2b1a46;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.box-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .content-container{
    background: #f5ebe3;
  }
}